.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: all 0.2s;
  text-align: center;
}

.btnSmall {
  padding: 5px 15px;
  font-size: 80%;
  text-transform: uppercase;
  /* display: flex;
  align-items: center; */
}

.btnSmall svg {
  vertical-align: -9%;
}

.btnFull {
  background-image: linear-gradient(to right bottom, #db3d2c, #9c2c1f);
  border: none;
  color: #fff;
  margin: 0 7px;
}

.btnGhost {
  border: 1px solid #db3d2c;
  color: #fff;
  padding: 9px 29px;
  margin: 0 7px;
}

.redText {
  color: #db3d2c !important;
}

.redText:hover {
  color: #fff !important;
}

.btn:hover,
.btn:active {
  transform: scale(1.05);
}

/* .btnFull:hover, .btnFull:active {} */

.btnGhost:hover,
.btnGhost:active {
  /* border: none; */
  color: #fff;
  background-image: linear-gradient(to right bottom, #db3d2c, #9c2c1f);
}
