.wrapper {
  background-image: linear-gradient(to bottom right, rgb(221, 221, 221), #fff);
  height: 138px;
  border-radius: 5px;
  margin: -69px 3rem 0 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.firstColumn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.dateBoxWrapper {
  border-radius: 5px;
  overflow: hidden;
  height: 67px;
}

.topInfoWrapper {
  margin: 0 1rem;
}

.countdownWrapper {
  flex-grow: 1;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
}

.countdownElement {
  flex-grow: 1;
  padding: 0 1rem;
  border-right: 1px rgb(175, 175, 175) solid;
}

.countdownElement:last-child {
  border-right: none;
}

.num {
  font-size: 175%;
}

.label {
  color: rgb(175, 175, 175);
  text-transform: uppercase;
}

@media only screen and (max-width: 850px) {
  .wrapper {
    height: auto;
    margin: 0 -2% 0 -2%;
    padding: 70px 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .wrapper:first-child {
    flex: 0 0 100%;
    text-align: right;
  }
  .firstColumn {
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    padding-left: 0;
  }
  .countdownWrapper {
    padding: 2rem 2rem 0 2rem;
  }
}