@import "../../../styles/abstracts/variables";

.dateBox {
    background-image: linear-gradient(to right bottom, $color-secondary, $color-ternary);
    color: #fff;
    width: 70px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    /* padding: 0 20px; */
    flex-shrink: 0;
    line-height: 125%;
  }

  .fromHome {
    height: 70px;
  }
  
  .day {
    font-size: 140%;
    font-weight: 200;
    margin-top: -5px;
    margin-bottom: -5px;
    /* line-height: 150%; */
    padding-bottom: 2px;
  }
  
  .month {
    font-weight: 600;
    font-size: 65%;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .weekday {
    font-weight: 600;
    font-size: 65%;
    letter-spacing: 2px;
  }

  @media only screen and (max-width: 850px) {
    /* .dateBox {
      width: unset;
    } */
  }