.homeHeader {
  background-size: cover !important;
  background-position: center;
  height: 80vh;
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .homeHeader {
    background-attachment: scroll;
  }
}
