.homeHeader {
  height: 80vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .homeHeader {
    background-attachment: scroll;
  }
}
