.event {
  /* text-align: center; */
  background-color: rgb(252, 252, 252);
  /* padding-left: 2.5rem; */
  /* padding-right: 2.5rem; */
  padding: 80px 2.5rem;
}

.imageWrap {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  /* height: auto; */
  padding-bottom: 56.25%;
  /* width: 100%; */
}

.rightColumn {
  display: flex;
  flex-direction: column;
}

.dateBoxContainer {
  border-radius: 5px;
  overflow: hidden;
  width: 70px;
  height: 66px !important;
  margin-right: 1rem;
  flex-shrink: 0;
}

.topRight {
  display: flex;
}

.description {
  margin-top: 1.25rem;
  text-align: justify;
  font-family: "Cardo", serif;
}

@media only screen and (max-width: 1023px) {
  .dateBoxContainer {
    height: 57px !important;
  }
}

@media only screen and (max-width: 850px) {
  .dateBoxContainer {
    height: 52px !important;
  }
}
