.article {
  text-align: center;
  background-color: rgb(252, 252, 252);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.topInfo {
  display: flex;
  margin-top: 1rem;
  padding-top: 80px;
}

.title {
  font-size: 150%;
  letter-spacing: 1px;
  line-height: 1.5;
}

.author {
  font-size: 90%;
  display: flex;
  align-items: center;
  color: rgb(85, 85, 85);
  font-family: "Cardo", serif;
}

.author svg {
  margin-right: 7px;
}

.belowPhoto {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.image {
  border-radius: 5px;
  overflow: hidden;
}

.imageWrap {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  /* height: auto; */
  padding-bottom: 56.25%;
  /* width: 100%; */
}

.body {
  font-family: "Cardo", serif;
  max-width: 575px;
  line-height: 1.5;
  text-align: justify;
  margin: 2rem 0 0 0;
}

.body p {
  margin-bottom: 1rem;
}

.dateBox {
  background-image: linear-gradient(to right bottom, #db3d2c, #9c2c1f);
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  /* padding: 0 20px; */
  flex-shrink: 0;
}

.day {
  font-size: 190%;
  font-weight: 200;
  margin-top: -5px;
  margin-bottom: -5px;
}

.month {
  font-weight: 600;
  /* font-size: 98%; */
}

.authorAndTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnContainer {
  text-align: left;
  max-width: 575px;
  margin: 2rem auto;
}
