.newDrawerToggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  align-items: center;
  padding: 0 .4rem;
  border-radius: 5px;
  box-shadow: 0 0 10px -1px #fff;
}

.newDrawerToggle svg {
  width: 35px;
  height: 40px;
  color: rgb(238, 238, 238);
}

.menu {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}

.DrawerToggle {
  width: 40px;
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

.Sticky svg {
  /* color: #1d1d1d !important; */
}

.Sticky .menu {
  /* color: #000; */
}

.Sticky {
  background-image: linear-gradient(to bottom right, #90281dd0, #7e2015d5);
  /* box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.6); */
}

@media (min-width: 768px) {
  .newDrawerToggle {
    display: none;
  }
}
