.main {
    flex-grow: 3;
    padding: 2rem 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    /* padding-bottom: 2.5rem; */
    
}

.label {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: .025em;
}

.whiteText {
    color: #fff;
}

.title {
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    margin: .5rem 0;
}

.description {
    font-size: 133%;
}

.buttonRow {
    margin: 1rem 0;
}

.smallText {
    font-size: 90%;
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 180%;
    }
    .main {
        padding: 1rem;
    }
}