.eventsCard {
  /* flex-grow: 1; */
  /* margin-bottom: 2rem; */
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 0px 9px 6px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 30px 80px 10px rgba(0,0,0,.2); */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.eventsCard:hover {
  transform: scale(1.05);
}

.eventsCard a {
  padding-bottom: 0;
}

.ratioWrapper {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.belowPicture {
  flex-grow: 1;
  display: flex;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
}

.moreInfo svg {
  margin-right: 0.2rem;
  color: #db3d2c;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 110%;
  line-height: 100%;
  padding-bottom: 0.25rem !important;
}

.time {
  text-transform: lowercase;
  font-size: 80%;
  align-items: center;
  display: flex;
  align-items: center;
  padding-bottom: 0.15rem !important;
}

.location {
  font-size: 80%;
  display: flex;
  align-items: center;
}
