.topInfo {
  text-align: center;
}

.description {
  /* margin-left: auto !important;
    margin: auto;
    float: unset; */
  text-align: justify;
  line-height: 1.5;
}

.leaderPhoto {
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* background-color: red; */
}

@media only screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    /* background-color: #f5f5f5; */
  }
}
