.addressInfo ul {
  list-style-type: none;
}

.addressInfo ul li {
  display: flex;
  align-items: center;
}

.iconBg {
  background-image: linear-gradient(to right bottom, #db3d2c, #9c2c1f);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.33rem 0.33rem 0.33rem 0;
}

.iconBg svg {
  color: #fff;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea {
  width: 100%;
  padding: 14px 7px 14px 20px;
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 180);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}


.contactForm *:focus {
  outline: none;
}