/* Big tablet to 1200 (width smaller than the 1140 pixel row) */

@media only screen and (max-width: 1200px) {
  /* .hero-text-box {
      width: 100%;
      padding: 0 2%;
    } */
  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet: 768 to 1023px */

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}

/* SMALL PHONES to small tables: from 481 to 767px */

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
